@media only screen and (max-width: 1366px) and (min-width: 901px) {


    .app-container {
        width: 80%;
    }

    .step-bottom span {
        right: 10.5%;
    }

    .map-header {
        max-width: 100%;
    }

    .step-item.time-step {
        max-width: 90%;
    }

    .contact-details {
        width: 70%;
    }

    .store-location {
        max-width: 100%;
    }

    .contact-details.bio-details {
        width: 60%;
    }

}

@media only screen and (max-width: 900px) {

    .app-container {
        width: 90%;
    }

    .step-bottom span {
        right: 5.5%;
    }

    .step-heading h2 {
        font-size: 24px;
    }

    .step-heading h2 small {
        font-size: 15px;
        text-align: center;
    }

    .store-location {
        max-width: 60%;
    }

    .store-container {
        padding: 20px 0px;
    }

    .step-heading {
        margin: 30px 0px;
    }

    .step-item label.check-box {
        padding: 15px;
    }

    .step-item label.check-box:after {
        top: 10px;
        right: 10px;
    }

    .step-item .item-img {
        height: 40px;
        padding: 5px;
        margin-right: 10px;
        width: 40px;
    }

    .item-info h3 {
        font-size: 18px;
    }

    .item-info p {
        max-width: 100%;
        font-size: 15px;
    }

    .item-info {
        width: calc(100% - 40px);
    }

    .step-bottom button.btn {
        font-size: 15px;
    }

    .step-bottom span {
        font-size: 14px;
    }

    .step-slider-item .item {
        width: 100px;
        height: 35px;
    }

    .store-location input {
        width: 100%;
    }

    .store-location {
        max-width: 70%;
    }

    .map-header {
        max-width: 100%;
        flex-direction: column;
        margin-top: 20px;
    }

    .map-header>div {
        width: 100%;
        margin-bottom: 20px;
    }

    button.search-btn {
        width: 100%;
    }

    .map-body {
        flex-direction: column;
    }

    .listings {
        width: 100%;
    }

    .map-container {
        width: 100%;
        margin-top: 40px;
        max-height: 400px !important;
        margin-bottom: 40px;
    }

    .listings .item {
        margin-right: 0px;
    }

    .step-item.time-step {
        max-width: 100%;
    }

    .step-item.time-step h4,
    .time-footer h4 {
        font-size: 16px;
    }

    .time-body {
        flex-direction: column;
    }

    .time-author {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
        justify-content: flex-start;
    }

    .time-frame {
        width: 100%;
    }

    .time-author img {
        width: 50px;
        height: 50px;
    }

    .author-bio h3 {
        font-size: 25px;
    }

    .author-bio p {
        font-size: 18px;
    }

    .date-choose button {
        font-size: 16px;
    }

    .contact-details {
        width: 100%;
        padding: 30px 20px;
    }

    .form-row {
        flex-direction: column;
    }

    .form-row .form-group {
        flex-basis: 100%;
        width: 100%;
    }

    .contact-details.bio-details {
        width: 100%;
        padding: 30px 20px;
    }

    .item-img {
        margin-left: 10px;
    }

    .payment-row label.check-box {
        padding: 10px !important;
    }

    .step-item .payment-row label.check-box:after {
        left: 8px;
    }

    .step-item .payment-row .item-img img {
        max-width: 40px;
        margin-left: 10px;
    }

    .final-sub-total p,
    .final-fee p {
        font-size: 16px;
    }

    .error {
        font-size: 14px;
    }

    .welcome-screen i {
        width: 80px;
        height: 80px;
        border: 2px solid var(--title-clr);
        text-align: center;
        font-size: 30px;
        line-height: 80px;
    }

    .welcome-screen h3 {
        font-size: 20px;
    }


    div#step-welcome .step-item.contact-details.bio-details {
        margin-top: 150px;
    }
}