/* *********************** */
/* **GOOGLE FONTS** */
/* *********************** */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&display=swap");

/* *********************** */
/* **GLOBARL CSS** */
/* *********************** */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    font-family: "Montserrat", sans-serif;
    line-height: 1;
    font-size: 1rem;
    color: #e0401f;
    font-weight: 500;
}
img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
a {
    text-decoration: none;
    display: block;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
button {
    font: inherit;
    border: none;
    background-color: transparent;
}
section {
    position: relative;
    z-index: 1;
}
.bg-palerose {
    background-color: #e9ddd9;
}

.bg-red {
    background-color: #da3a16;
    color: #e9ddd9;
}

/* *********************** */
/* **HEADER CSS** */
/* *********************** */
.header {
    height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}
.logo {
    max-width: 150px;
}
.header-right,
.menu-button,
.header-right a {
    display: flex;
    align-items: center;
}
.header-right a,
.menu-button {
    color: #e0401f;
    margin-right: 32px;
    font-size: 16px;
    text-transform: uppercase;
}
.bg-red .header-right a,
.bg-red .menu-button {
    color: #e9ddd9;
}
.dashed {
    width: 20px;
    height: 2px;
    display: inline-block;
    margin: 0px 8px;
    background: #e0401f;
}

.menu-button {
    margin-right: 0px;
    font-weight: 600;
}
.menu-bar {
    position: relative;
    width: 20px;
    height: 2px;
    background: #e0401f;
    display: inline-block;
    margin-right: 12px;
    transition: all 0.1s cubic-bezier(0.5, 0, 0, 0.5);
}
.menu-bar:before,
.menu-bar:after {
    position: absolute;
    left: 0;
    top: -7px;
    height: 100%;
    width: 100%;
    content: "";
    background: #e0401f;
    transition: all 0.3s cubic-bezier(0.5, 0, 0, 0.5);
}
.bg-red .dashed,
.bg-red .menu-bar,
.bg-red .menu-bar:before,
.bg-red .menu-bar:after {
    background: #e9ddd9;
}
.menu-bar:after {
    top: auto;
    bottom: -7px;
}
.menu-button.is-open .menu-bar {
    background: transparent;
}

.menu-button.is-open .menu-bar:before {
    transform: rotate(45deg);
    top: 0px;
}

.menu-button.is-open .menu-bar:after {
    transform: rotate(-45deg);
    bottom: 0;
}

/* *********************** */
/* **NAVIGATION CSS** */
/* *********************** */
.navigation {
    position: fixed;
    left: -100%;
    top: 100px;
    height: calc(100vh - 100px);
    overflow-y: auto;
    background: #e9ddd9;
    z-index: 999;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.5, 0, 0, 0.5);
}
.bg-red .navigation {
    background: #da3a16;
}

.navigation.is-active {
    visibility: visible;
    opacity: 1;
    left: 0;
}
.menu-items {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.menu-item a {
    position: relative;
    color: #d9442a;
    text-transform: uppercase;
    font-size: 36px;
}
.bg-red .menu-item a {
    color: #e9ddd9;
}
.menu-item {
    margin: 30px 50px;
    position: relative;
}

.menu-item a span {
    display: block;
    text-align: center;
}

.menu-item:not(:last-child):after {
    position: absolute;
    right: -60px;
    top: 10px;
    width: 15px;
    height: 15px;
    background: #d9442a;
    content: "";
    transform: rotate(35deg);
}
.bg-red .menu-item:not(:last-child):after {
    background: #e9ddd9;
}
.menu-item:nth-child(4):after {
    display: none;
}
.navigation-leaf-image {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 500px;
    z-index: -1;
}

/* *********************** */
/* **MAIN SECTION CSS** */
/* *********************** */
.right-leaf-image,
.left-leaf-image {
    position: absolute;
    right: 0;
    bottom: 0;
    height: calc(100vh - 100px);
    z-index: -1;
}
.left-leaf-image {
    right: auto;
    left: 0;
    height: 300px;
}
.right-leaf-image img,
.left-leaf-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.home span {
    font-size: 62px;
    font-weight: 700;
    display: block;
    line-height: 62px;
    margin-bottom: 5px;
}
.home h1 {
    font-size: 96px;
    line-height: 96px;
    font-weight: 900;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.home p {
    font-size: 24px;
    font-weight: 500;
}

.icom-network-logo {
    max-width: 130px;
    position: absolute;
    bottom: 30px;
}
.goto-next {
    display: block;
    position: absolute;
    width: 70px;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.goto-next:hover {
    animation-name: bounce;
}
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-15px);
    }
    60% {
        transform: translateX(-50%) translateY(-7.5px);
    }
}

/* *********************** */
/* **ABOUT PAGE CSS** */
/* *********************** */
.about {
    color: #ff3600;
}
.about h1 {
    font-size: 44px;
    line-height: 40px;
    font-weight: 500;
    text-transform: uppercase;
}
.about p {
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
}
.about .goto-next {
    width: 90px;
}
.circle-points {
    position: absolute;
    right: 20%;
    bottom: 30%;
    width: 25px;
    height: 25px;
    background: #eeb8a9;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-points .point {
    width: 5px;
    height: 5px;
    background: #ff3600;
    display: block;
    border-radius: 50%;
}

/* *********************** */
/* **RESPONSIVE CSS** */
/* *********************** */
@media only screen and (max-width: 600px) {
    .menu-items {
        flex-direction: column;
    }

    .menu-item:not(:last-child) {
        margin: 0px 0px 24px;
    }

    .menu-item {
        margin: 0px;
    }
    .menu-item a {
        font-size: 24px;
    }
    .menu-item:after {
        display: none;
    }

    .header-right a {
        display: none;
    }

    .home span {
        font-size: 32px;
        line-height: 32px;
    }
    .home h1 {
        font-size: 62px;
        line-height: 62px;
    }
    .goto-next {
        width: 50px;
        left: 55%;
        bottom: 15px;
    }
    .circle-points {
        bottom: 15%;
        right: 10%;
    }
}
