@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}


html,
body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 700;
	color: #171721;
	margin: 0px;
}


a,
button,
input[type="submit"] {
	transition: all 0.3s;
	cursor: pointer;
}

ul,
ol {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

a,
a:hover,
a:visited,
a:link {
	text-decoration: none;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
	text-decoration: none;
	outline: none;
}

select {
	cursor: pointer;
}

.flex-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.page-title {
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 1.2;
	color: #1d1d1d;
}

.brand-container {
	max-width: 100%;
	overflow-x: hidden;
}

.gray-bg {
	background: #f7f7f7;
}

.stroke {
	display: inline-block;
	text-decoration: line-through;
}

.bg-img {
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	margin: 0;
}

.spacer {
	padding-left: 5vw;
	padding-bottom: 2vw;
	padding-top: 2vw;
}

.pb-5vw {
	padding-bottom: 2vw;
}

.heading {
	font-size: 35px;
	font-weight: 900;
	margin-bottom: 30px;
	color: #fff;
	text-transform: uppercase;
}

.btn {
	display: inline-block;
	font-weight: 700;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	margin: 2.5px 0;
	position: relative;
	padding: 5px 20px;
	font-size: 15px;
	border-radius: 30px;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.banner-info .btn {
	max-width: 150px;
}

.btn-light {
	background-color: #fff;
	border-color: #fff;
}

.btn-light:hover {
	color: #212529;
	background-color: #ececec;
	border-color: #e6e6e6;
}

.red {
	color: #dc0019;
}

.no-border {
	border: none !important;
}

.mb-40 {
	margin-bottom: 40px !important;
}

/* Custom select option CSS */
.select-box {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;
}

.select-box-current {
	position: relative;
	cursor: pointer;
	outline: none;
}

.select-box-list.show {
	opacity: 1;
	-webkit-animation-name: none;
	animation-name: none;
}

.select-box-current:focus+.select-box-list .select-box-option {
	cursor: pointer;
}

.select-box-current.show .select-box-icon {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

.select-box-icon {
	position: absolute;
	top: 50%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 20px;
	opacity: 0.3;
	-webkit-transition: 0.2s ease;
	transition: 0.2s ease;
}

.select-box-value {
	display: -webkit-box;
	display: flex;
}

.select-box-input {
	display: none;
}

.select-box-input:checked+.select-box-input-text {
	display: block;
}

.select-box-input-text {
	display: none;
	width: 100%;
	margin: 0;
	padding: 15px;
}

.select-box-list {
	position: absolute;
	width: 100%;
	padding: 0;
	list-style: none;
	opacity: 0;
	-webkit-animation-name: HideList;
	animation-name: HideList;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: step-start;
	animation-timing-function: step-start;
	box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.select-box-option {
	display: block;
	padding: 15px;
}


@-webkit-keyframes HideList {
	from {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}

	to {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
	}
}

@keyframes HideList {
	from {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}

	to {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
	}
}



@media (min-width: 992px) {
	.md-block {
		display: block !important;
	}

	.md-block-flex {
		display: flex !important;
	}

	.sm-block {
		display: none !important;
	}

	.sm-block-flex {
		display: none !important;
	}

}

@media (max-width: 991px) {
	.md-block {
		display: none !important;
	}

	.md-block-flex {
		display: none !important;
	}

	.sm-block {
		display: block !important;
	}


	.sm-block-flex {
		display: flex !important;
	}

	.col-cs-6 {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}

	.flex-item {
		flex-direction: column;
		justify-content: inherit;
		align-items: inherit;
	}

}

@media (max-width: 767px) {

	.col-cs-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}


}