<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email Template</title>
    <style>
  

        @media screen and (max-width: 400px) {
        
            .two-column .column,
            .three-column .column {
                max-width: 100%!important;
            }
            .two-column img {
                width: 100%!important;
            }
            .three-column img {
                max-width: 60%!important;
            }
            .inner-td.btn {
                padding-right: 0px!important;
                padding-left: 0px!important;
            }
            .inner-td.btn td {
                font-size: 15px!important;
                padding: 18px 18px 18px!important;
            }
        }

        @media screen and (min-width: 401px) and (max-width: 650px) {
            .two-column .column {
                max-width: 50%!important;
            }
            .three-column .column {
                max-width: 33%!important;
            }
            h1 {
                font-size: 22px;
            }
            .inner-td p {
                padding-right: 10px;
                padding-left: 10px;
                font-size: 14px;
            }
            .inner-td.btn {
                padding-right: 10px!important;
                padding-left: 10px!important;
            }
            .inner-td.btn td {
                font-size: 15px!important;
                padding: 18px 18px 18px!important;
            }
        }

        @media screen and (max-width:768px) {
            img.logo {
                float: none !important;
                margin-left: 0% !important;
                max-width: 200px!important;
            }
            .two-column .section {
                width: 100% !important;
                max-width: 100% !important;
                display: inline-block;
                vertical-align: top;
            }
            .two-column img {
                width: 100% !important;
                height: auto !important;
            }
            .content {
                width: 100%;
                padding-top: 0px !important;
            }
        }

    </style>
</head>

<body style="padding:15px;background-color:#FFF;margin:0 !important;">
    <div class="wrapper" style="width:100%;table-layout:fixed;">
        <div class="wrapper-inner" style="width:100%;background-color:#fff;max-width:670px;margin:0 auto;padding:30px;box-sizing:border-box;">
            <table class="main-table-first" style="border-spacing:0;font-family:sans-serif;color:#727f80;width:100%;max-width:670px;margin:0 auto;background-color:#FFF;">
                <tr>
                    <td class="one-column" style="padding:0;">
                        <div class="section">
                            <table style="border-spacing:0;font-family:sans-serif;color:#727f80;">
                                <tr>
                                    <td class="inner-td" style="padding:0;padding:10px;">
                                        <table class="content" style="border-spacing:0;font-family:sans-serif;color:#727f80;width:100%;padding-top:20px;text-align:center">
                                            <tr>
                                                <td style="padding:0;">
                                                    <img src="https://ci3.googleusercontent.com/proxy/vCsd_vE8_uqYqB_Ni9vqNEyjd0Dw8j588kKNJOVg_oYEeuTnl45kEaMIFOWx61eWdQkf1uQYkVQS26p7t1B-L8U8nh26JQLY6rLn0s9xgUKswpImBbJMW24eZCAMRd-oTit9Iv2gOktFg2LXPiQRM1PwLZR8lZm3spMBm68=s0-d-e1-ft#https://gallery.mailchimp.com/bef517cb0aa0f55e4d1dc0459/images/7cb8aeda-3d66-4a5c-bd17-a9475e23dc6d.png" class="logo" style="border:0;float:none;margin-left:0px;max-width:130px !important;" alt="logo">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0;">
                                                    <h3 style="text-align:center;display:block;padding:0;color:#959595;font-family:Helvetica;font-size:18px;font-style:normal;font-weight:bold;line-height:150%;letter-spacing:normal;margin-bottom:0px;">What's New</h3>
                                                    <h1 style="text-align:center;display:block;margin:0;padding:0;color:#222222;font-family:Helvetica;font-size:40px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;">ACF and GDPR: What You Need to Know</h1>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--- End First Column of Two Columns -->
                    </td>
                </tr>
                <!--- End Two Column Section -->
            </table>
            <!--- End Main Table -->
            <table class="main-table-first two" style="border-spacing:0;font-family:sans-serif;color:#727f80;width:100%;max-width:670px;margin:0 auto;background-color:#FFF;">
                <tr>
                    <td class="one-column" style="padding:0;">
                        <div class="section">
                            <table style="border-spacing:0;font-family:sans-serif;color:#727f80;margin:auto">
                                <tr>
                                    <td class="inner-td padding-extra" style="padding:0;padding:10px;padding:40px 10px 10px;">
                                        <table class="content" style="border-spacing:0;font-family:sans-serif;color:#727f80;width:100%;padding-top:20px; text-align:center">
                                            <tr>
                                                <td style="padding:0; text-align:center">
                                                    <img src="https://mail.google.com/mail/e/1f648" class="logo icon" style="border:0;float:none;margin-left:0px;max-height:24px;margin:0 6px;max-width:130px !important;" alt="logo">
                                                    <img src="https://mail.google.com/mail/e/1f648" class="logo icon" style="border:0;float:none;margin-left:0px;max-height:24px;margin:0 6px;max-width:130px !important;" alt="logo">
                                                    <img src="https://mail.google.com/mail/e/1f648" class="logo icon" style="border:0;float:none;margin-left:0px;max-height:24px;margin:0 6px;max-width:130px !important;" alt="logo">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--- End First Column of Two Columns -->
                    </td>
                </tr>
                <!--- End Two Column Section -->
                <tr>
                    <td class="one-column" style="padding:0;background-color: rgb(255,255,255);background-repeat: no-repeat;background-image: none;background-size: cover;border-top: 0px none;border-bottom: 1px solid rgb(235,235,235);padding-top: 0px;padding-bottom: 30px;">
                        <div class="section">
                            <table style="border-spacing:0;font-family:sans-serif;color:#727f80;">
                                <tr>
                                    <td class="inner-td" style="padding:0;padding:10px;">
                                        <table class="content" style="border-spacing:0;font-family:sans-serif;color:#727f80;width:100%;padding-top:20px;">
                                            <tr>
                                                <td style="padding:0;">
                                                    <p style="margin:0;padding-top:0;padding-right:18px;padding-bottom:16px;padding-left:18px;color:#404040;font-family:Helvetica;font-size:17px;line-height:150%;text-align:left;">And just when you thought the GDPR emails were over, here's another!</p>
                                                    <p style="margin:0;padding-top:0;padding-right:18px;padding-bottom:16px;padding-left:18px;color:#404040;font-family:Helvetica;font-size:17px;line-height:150%;text-align:left;">
                                                        We've spent a lot of time recently reviewing and improving our policies and procedures, to better explain what data we collect, why we collect it, and the rights you are entitled to.</p>
                                                    <p style="margin:0;padding-top:0;padding-right:18px;padding-bottom:16px;padding-left:18px;color:#404040;font-family:Helvetica;font-size:17px;line-height:150%;text-align:left;">You can read all about these changes, including tips you can use on your own site in our latest blog post via the link below.</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="inner-td btn" style="padding:0;padding:10px;font-weight:bold;letter-spacing:-0.5px;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;display:block;padding-top: 20px;padding-right: 70px;padding-bottom: 18px;padding-left: 70px;">
                                        <table class="content" style="border-spacing:0;font-family:sans-serif;color:#727f80;width:100%;padding-top:20px;border-collapse: separate;border-radius: 3px;background-color: #00dab4;">
                                            <tr>
                                                <td style="padding:0;font-family: Helvetica;font-size: 18px;padding: 0px 18px 18px;">
                                                    <a class="btn" target="_blank" href="https://www.advancedcustomfields.com/blog/acf-and-gdpr-what-you-need-to-know/" style="font-weight:bold;letter-spacing:-0.5px;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;display:block;">Read the full ACF and GDPR blog post</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--- End First Column of Two Columns -->
                    </td>
                </tr>
                <!--- End Two Column Section -->
            </table>
            <table class="main-table-first footer" style="border-spacing:0;font-family:sans-serif;color:#727f80;width:100%;max-width:670px;margin:0 auto;background-color:#FFF;margin:30px 0 auto;">
                <tr>
                    <td class="one-column footer" style="padding:0;">
                        <div class="section">
                            <table style="border-spacing:0;font-family:sans-serif;color:#727f80;margin:auto">
                                <tr>
                                    <td class="inner-td" style="padding:0;padding:10px;">
                                        <table class="content" style="border-spacing:0;font-family:sans-serif;color:#727f80;width:100%;padding-top:20px;">
                                            <tr>
                                                <td style="padding:0;padding-top: 0px;padding-right: 18px;padding-bottom: 0px;padding-left: 18px;color: #404040;font-family: Helvetica;font-size: 12px;line-height: 150%;text-align: center;">
                                                    <em>Copyright © 2018 Advanced Custom Fields, All rights reserved.</em>
                                                    <p style="margin:0;padding-bottom:16px;font-size:17px;text-align:left;padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#404040;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center;">You are receiving this email because you opted in at our website</p>
                                                    <p style="margin:0;padding-bottom:16px;font-size:17px;text-align:left;padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#404040;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center;">Want to change how you receive these emails? <br> You can <a style="color: #00c5a3;font-weight: normal;text-decoration: underline;" target="_blank" href="https://advancedcustomfields.us1.list-manage.com/profile?u=bef517cb0aa0f55e4d1dc0459&id=8952e9b14c&e=579aa5d782">update your preferences</a> or
                                                        <a style="color: #00c5a3;font-weight: normal;text-decoration: underline;" target="_blank" href="https://advancedcustomfields.us1.list-manage.com/unsubscribe/post">unsubscribe from this list</a>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--- End First Column of Two Columns -->
                    </td>
                </tr>
                <!--- End Two Column Section -->
            </table>
            <!--- End Main Table -->
        </div>
        <!--- End Wrapper Inner -->
    </div>
    <!--- End Wrapper -->
    <br>
</body>

</html>
