:root {
  --clr-text-primary: hsla(210, 98%, 17%, 1);
  --clr-text-secondary: hsla(211, 20%, 50%, 1);
  --clr-white: hsla(0, 0%, 100%, 1);
  --clr-green: hsla(168, 58%, 41%, 1);
  --clr-orange: hsla(15, 100%, 68%, 1);
  --clr-outlined: hsla(210, 20%, 90%, 1);
  --clr-bg-brand: hsla(200, 100%, 91%, 1);
  --clr-bg-brand-300: hsla(25, 100%, 97%, 1);
  --clr-bg-primary: hsla(216, 20%, 95%, 1);
  --clr-bg-secondary: hsla(216, 20%, 95%, 1);
  --clr-blue: hsla(209, 97%, 69%, 1);
  --clr-border: hsla(0, 0%, 90%, 1);

  --header-height: 8.8rem;
  --app-padding: 0 5rem;
  --space-1: 1rem;
  --space-2: 1.5rem;
  --space-3: 2rem;
  --space-4: 2.5rem;
  --space-5: 3rem;

  --font-14: 1.4rem;
  --font-18: 1.8rem;
  --font-16: 1.6rem;
  --font-20: 2rem;

  --transition-1: all 0.3s ease;
  --transition-2: all 0.2s ease;

  --border-radius: 1.6rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 21px;
  font-size: var(--font-14);
  color: var(--color-text-secondary);
}
ul {
  list-style-type: none;
}
a,
a:hover {
  transition: var(--transition-1);
  text-decoration: none;
  color: var(--color-text-primary);
}
input,
input:focus {
  font: inherit;
  color: inherit;
  outline: none;
}
img {
  max-width: 100%;
  width: 100%;
}
.flex {
  display: flex;
}
.flex-center {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--clr-text-primary);
  font-size: var(--font-18);
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.subtitle {
  font-weight: 400;
  font-size: var(--font-14);
  color: var(--clr-text-secondary);
}

.btn-title {
  color: var(--clr-text-primary);
  font-size: var(--font-18);
  margin-bottom: 0.5rem;
  font-weight: 500;
  display: flex;
  gap: 1rem;
}

.btn {
  background: transparent;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius);
  width: 100%;
  cursor: pointer;
}

.btn-bg {
  background: var(--clr-bg-brand);
  transition: var(--transition-1);
}
.md-title {
  font-size: var(--font-14);
}
.desktop {
  display: flex !important;
}
.mobile {
  display: none !important;
}
.breadcrumb.desktop {
  display: grid !important;
}
/* Custom dropdown========= */
.dropdown,
.dropdown-with-value,
.dropdown-with-select {
  position: relative;
}

.dropdown-options {
  position: absolute;
  left: 0;
  top: 6rem;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(2rem);
  transition: var(--transition-1);
  z-index: 99;
}
.dropdown.active .dropdown-options,
.dropdown-with-value.active .dropdown-options,
.dropdown-with-select.active .dropdown-options {
  transform: translateY(0rem);
  opacity: 1;
  visibility: visible;
}
.dropdown-icon {
  transition: var(--transition-1);
}
.dropdown.active .dropdown-icon,
.dropdown-with-value.active .dropdown-icon,
.dropdown-with-select.active .dropdown-icon {
  transform: rotate(180deg);
}
.dropdown .dropdown-options div,
.dropdown-with-value .dropdown-options div,
.dropdown-with-select .dropdown-options div {
  cursor: pointer;
  padding: 1rem;
}

.dropdown .dropdown-options div:hover,
.dropdown-with-value .dropdown-options div:hover,
.dropdown-with-select .dropdown-options div:hover {
  background: var(--clr-text-primary);
  color: var(--clr-white);
}

.dropdown-options:before {
  position: absolute;
  left: 5rem;
  top: -20px;
  content: "";
  border: 10px solid transparent;
  border-bottom-color: white;
  z-index: 999999999;
}
/* Header css=========== */
.header {
  justify-content: space-between;
  height: var(--header-height);
  padding: var(--app-padding);
  background: var(--clr-bg-brand);
}

.header__search .material-icons-outlined {
  font-size: var(--font-16);
  color: var(--clr-text-primary);
}

.header__search--icon span.material-icons-outlined {
  color: white;
  font-size: 3rem;
  margin: 0;
}
.header__logo {
  max-width: 20rem;
}

.header__search-wrapper {
  font-size: var(--font-14);
  color: var(--clr-text-primary);
  font-weight: 500;
  background: var(--clr-white);
  border-radius: 30px;
  padding: 0.5rem 1rem;
}

.header__search--item {
  position: relative;
}

.header__search--item:after {
  top: 20%;
}
.header__search--item:nth-child(4) .header__search--link:after {
  display: none;
}
.header__search--link .material-icons-outlined {
  margin-right: 0.6rem;
}

.header__search--icon {
  width: 4rem;
  height: 4rem;
  background: var(--clr-text-primary);
  font-size: 2rem;
  border-radius: 50%;
}

.header__search--icon .material-icons-outlined {
  color: var(--clr-white);
}

.header__search--link {
  padding: 0.5rem 2rem;
  position: relative;
}

.header__search--link:after {
  position: absolute;
  right: 0;
  top: 20%;
  width: 1px;
  height: 60%;
  background: var(--clr-outlined);
  content: "";
}

.header__search--link:nth-child(4):after {
  display: none;
}
.header__right {
  justify-content: end;
}
.header__right--lang,
.header__right--menu {
  background: #fff;
  border-radius: 30px;
  padding: 1rem 1.5rem;
  margin-right: 1rem;
  width: 35%;
  cursor: pointer;
}
.header__right--menu {
  background-color: var(--clr-text-primary);
  padding: 1rem;
  margin-right: 0rem;
}
.header__right--menu img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
.header__right--menu .material-icons-outlined {
  color: var(--clr-white);
  margin-right: 1.5rem;
}
.header__right--lang .dropdown-input {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-16);
  color: var(--clr-text-primary);
}

/* Breadcrumb css======== */
.breadcrumb {
  background: #fff;
  padding: var(--app-padding);
  height: var(--header-height);
  display: grid;
  grid-template-columns: 60% max-content 20%;
  place-content: center;
}

.dropdown-with-select {
  border: 1px solid var(--clr-outlined);
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  position: relative;
  color: var(--clr-text-primary);
  cursor: pointer;
}

.dropdown-with-select input {
  border: none;
  padding: 0.5rem;
  color: var(--clr-text-primary);
  cursor: pointer;
}

.dropdown-with-select .material-icons-outlined {
  margin-right: 0.5rem;
}

/* Main area css============= */

.main {
  display: grid;
  grid-template-columns: max-content 60% 20%;
  gap: 3rem;
  padding: var(--app-padding);
  background: #e5e5e5;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.main__content {
  display: grid;
  gap: 3rem;
}

.main__right {
  border-radius: var(--border-radius);
  overflow: hidden;
}
.main .material-icons-outlined {
  font-size: var(--font-16);
}

.btn-bg:hover {
  background: var(--clr-bg-primary);
}

.btn-subtitle {
  font-weight: 400;
  font-size: var(--font-14);
  color: var(--clr-text-secondary);
}
.content {
  background: #fff;
  border-radius: var(--border-radius);
}
.content__body {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 2rem;
}

.content__body--img {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  margin-right: 2rem;
}

.content__body--img .material-icons-outlined {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background: white;
  text-align: center;
  display: grid;
  place-content: center;
  border-radius: 50%;
  color: var(--clr-orange);
  left: 1rem;
  top: 1rem;
}

.info__top {
  justify-content: space-between;
  margin-bottom: 2rem;
}

.info__top--left {
  display: flex;
}

.top__box {
  font-size: 1.2rem;
  margin-right: 1rem;
  border-radius: var(--border-radius);
  color: var(--clr-text-secondary);
  padding: 0.2rem 1rem;
  cursor: pointer;
  font-weight: 500;
}

.top__box .material-icons-outlined {
  font-size: 1.2rem;
  margin-right: 0.3rem;
}

.top__box.star {
  background: hsl(15deg 100% 68% / 10%);
  color: var(--clr-text-primary);
}
.top__box.star .material-icons-outlined {
  color: var(--clr-orange);
}
.top__box.expert {
  background: #eef6fe;
  color: var(--clr-blue);
}

.info__top--right {
  border: 1px solid var(--clr-text-primary);
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.info__top--right .material-icons-outlined {
  margin-right: 1rem;
}

.title-icon {
  font-size: var(--font-14);
  color: var(--clr-green);
  padding: 1.5rem 0;
  font-weight: 500;
  justify-content: flex-start;
}

.title-icon .material-icons-outlined {
  margin-right: 0.5rem;
}

.meta-box {
  font-size: var(--font-14);
  color: var(--clr-text-secondary);
  position: relative;
  margin-right: 2rem;
  font-weight: 500;
}

.meta-box .material-icons-outlined {
  margin-right: 1rem;
}

.meta__boxes {
  margin: 2rem 0;
}

.meta-box strong {
  color: var(--clr-text-primary);
}

.meta-box:after {
  position: absolute;
  right: -1rem;
  top: 20%;
  width: 1px;
  height: 60%;
  background: var(--clr-outlined);
  content: "";
}

.meta-box:last-child:after {
  display: none;
}
.content__footer {
  border-top: 1px solid var(--clr-outlined);
  padding: 1.5rem 2rem;
  justify-content: space-between;
}

.conent__footer--left {
  font-size: var(--font-16);
  color: var(--clr-green);
  font-weight: 500;
}

.conent__footer--left span {
  color: var(--clr-text-primary);
  margin-left: 2rem;
}
.content__footer .material-icons-outlined {
  font-size: var(--font-18);
}
.conent__footer--left .material-icons-outlined {
  margin-right: 1rem;
  margin-left: 0;
}

.btn-blue-bg {
  background: var(--clr-text-primary);
  color: #fff;
  font-weight: 500;
  font-size: var(--font-14);
  padding: 1rem 3rem;
  border-radius: 30px;
  transition: var(--transition-2);
}

.btn-blue-bg:hover {
  background: var(--clr-green);
}

.btn-blue-bg .material-icons-outlined {
  margin-left: 1rem;
}

.content__footer--top {
  justify-content: space-between;
}
.radio_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #cecece;
  border-radius: 9999px;
}

.radio_container input[type="radio"] {
  appearance: none;
  display: none;
}

.radio_container label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  text-align: center;
  border-radius: 9999px;
  overflow: hidden;
  transition: linear 0.3s;
}

.radio_container input[type="radio"]:checked + label {
  background-color: #1e90ff;
  color: #f1f3f5;
  font-weight: 900;
  transition: 0.3s;
}
.radio_container input[type="radio"]:checked + label span {
  color: var(--clr-white);
}
.top__left {
  font-size: var(--font-14);
  color: var(--clr-text-primary);
  font-weight: 500;
}

.radio_container {
  width: 10rem;
  margin: 0 1rem;
  height: 3rem;
  background: var(--clr-bg-primary);
  padding: 0;
  position: relative;
}

.radio_container input[type="radio"]:checked + label {
  background: var(--clr-green);
}

.radio_container label {
  width: 5rem;
  cursor: pointer;
  height: 100%;
}

.radio_container label .material-icons-outlined {
  color: hsla(211, 20%, 50%, 1);
}

.radio_container input[type="radio"]:checked + label i {
  color: white;
}

.btn-outline {
  border: 1px solid var(--clr-border);
  border-radius: 30px;
  padding: 0.8rem 2rem;
  font-size: var(--font-14);
  font-weight: 500;
  transition: all 0.3s;
}

.btn-outline .material-icons-outlined {
  margin-right: 1rem;
}

.btn-outline:hover {
  background: var(--clr-green);
  color: white;
  border-color: var(--clr-green);
}

.calendar-days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.content__footer--calendar {
  padding: 3rem 0 1rem;
}

.arrow {
  color: var(--clr-green);
  font-weight: 400;
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--clr-green);
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.day {
  font-size: var(--font-16);
  font-weight: 500;
  color: var(--clr-text-secondary);
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.day.current {
  color: var(--clr-green);
}

.day span {
  width: 2rem;
  height: 2rem;
  color: white;
  background: var(--clr-orange);
  border-radius: 50%;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
}

.arrow.disabled {
  border: 1px solid var(--clr-border);
  color: var(--clr-border);
}
.calendar-time {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  margin: 2rem 0;
  gap: 1.5rem;
}

.time {
  font-size: var(--font-16);
  font-weight: 500;
  background: var(--clr-bg-brand-300);
  border-radius: 30px;
  padding: 1rem;
  transition: all 0.3s;
  cursor: pointer;
  border: 1px solid transparent;
}

.time:hover,
.time:focus,
time:active {
  border: 1px solid var(--clr-orange);
}

.time.bg-gray {
  background: var(--clr-bg-secondary);
}

.content__footer--bottom {
  justify-content: space-between;
  margin-top: 4rem;
}

.content__footer--bottom p {
  font-size: 1.3rem;
  color: var(--clr-text-secondary);
}

a.full-schedule {
  font-size: var(--font-16);
  color: var(--clr-text-secondary);
  font-weight: 500;
}
/* button#full_schedule span {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
} */
a.full-schedule .material-icons-outlined {
  margin-left: 0.8rem;
}
.content__footer.expanded {
  transition: all 0.3s;
  display: none;
}

.content.active .expanded {
  display: block;
}
.compact {
  display: flex;
}
.content.active .compact {
  display: none;
}

/* Sidebar css============= */

.acnav {
  width: 100%;
}
.acnav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.acnav__list--level1 {
  border: 1px solid #fcfcfc;
}
.has-children > .acnav__label::before {
  content: "\f067";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  margin-right: 1em;
  transition: transform 0.3s;
}
.acnav__checkbox:checked + .acnav__label::before {
  transform: rotate(405deg);
}
.acnav__link,
.acnav__label {
  display: block;
  font-size: 1rem;
  padding: 1em;
  margin: 0;
  cursor: pointer;
  color: #fcfcfc;
  background: #1f4788;
  box-shadow: inset 0 -1px #2554a1;
  transition: color 0.25s ease-in, background-color 0.25s ease-in;
}
.acnav__link:focus,
.acnav__link:hover,
.acnav__label:focus,
.acnav__label:hover {
  color: #e3e3e3;
  background: #1c407c;
}
.acnav__link--level2,
.acnav__label--level2 {
  padding-left: 3em;
  background: #1c407c;
}
.acnav__link--level2:focus,
.acnav__link--level2:hover,
.acnav__label--level2:focus,
.acnav__label--level2:hover {
  background: #193a6f;
}
.acnav__link--level3,
.acnav__label--level3 {
  padding-left: 5em;
  background: #193a6f;
}
.acnav__link--level3:focus,
.acnav__link--level3:hover,
.acnav__label--level3:focus,
.acnav__label--level3:hover {
  background: #163363;
}
.acnav__link--level4,
.acnav__label--level4 {
  padding-left: 7em;
  background: #163363;
}
.acnav__link--level4:focus,
.acnav__link--level4:hover,
.acnav__label--level4:focus,
.acnav__label--level4:hover {
  background: #142d56;
}
.acnav__list--level2,
.acnav__list--level3,
.acnav__list--level4 {
  height: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
.acnav__checkbox:checked ~ .acnav__list {
  max-height: 1000px;
}

/* Custom accordion css========= */
.sidebar--offer .btn {
  padding: 2rem;
}
.accordion input[name="accordion"] {
  display: none;
}
.accordion
  input[name="accordion"]:checked
  + .accordion-item
  .accordion-title:after {
  transform: rotate(180deg);
}
.accordion
  input[name="accordion"]:checked
  + .accordion-item
  .accordion-content {
  margin-bottom: 1.5rem;
  height: auto;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s cubic-bezier(0.19, -0.36, 0, 1.29);
}
.accordion
  input[name="accordion"]:checked
  + .accordion-item
  .accordion-content
  p {
  font-size: var(--font-14);
  font-weight: 500;
  color: var(--clr-text-secondary);
  padding: 0.5rem 0;
}

.accordion-item {
  display: block;
  margin-bottom: 0.1rem;
  position: relative;
}

.accordion-item:before {
  position: absolute;
  left: -2rem;
  top: 0;
  width: 3px;
  height: 0;
  background: var(--clr-green);
  content: "";
  border-radius: 16px;
}
.accordion input[name="accordion"]:checked + .accordion-item:before {
  height: 100%;
}
.accordion-title:after {
  font-family: "Material Icons Outlined";
  content: "\e5cf";
  display: inline-block;
  font-size: var(--font-20);
}
.accordion-title {
  color: var(--clr-text-primary);
  font-size: var(--font-18);
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
  font-weight: 400;
  justify-content: space-between;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.siderbar--accordion {
  background: var(--clr-white);
  border-radius: var(--border-radius);
  padding: 2rem;
  margin-top: 2rem;
}
.accordion input[name="accordion"]:checked + .accordion-item .accordion-title {
  font-weight: 500;
}
.accordion-content {
  width: 100%;
  color: var(--clr-green);
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.19, -0.36, 0, 1.29);
  position: relative;
}

.accordion-content input[type="radio"]:checked,
.accordion-content input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.accordion-content input[type="radio"]:checked + label,
.accordion-content input[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
.accordion-content input[type="radio"]:checked + label:before,
.accordion-content input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
.accordion-content input[type="radio"]:checked + label:before {
  border-color: var(--clr-green);
}
.accordion-content input[type="radio"]:checked + label:after,
.accordion-content input[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: var(--clr-green);
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.accordion-content input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.accordion-content input[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.accordion
  input[name="accordion"]:checked
  + .accordion-item
  .accordion-content
  p
  input:checked
  + label {
  color: var(--clr-text-primary);
  font-weight: 500;
}

.accaccordionordion-header {
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--clr-border);
  margin-bottom: 1.5rem;
}

.header--filter {
  color: var(--clr-text-primary);
  font-weight: 600;
  font-size: var(--font-20);
  cursor: pointer;
}

.header--filter .material-icons-outlined {
  font-weight: 600;
  font-size: var(--font-20);
  margin-right: 0.5rem;
}

.header--reset {
  font-size: var(--font-4);
  color: var(--clr-orange);
  cursor: pointer;
}

.header--reset .material-icons-outlined {
  margin-right: 0.5rem;
}

/* Responsive css============================== */

@media screen and (max-width: 1300px) {
  .header__search {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .header__search-wrapper {
    justify-content: space-between;
    margin-top: 2rem;
  }

  .header__search {
    order: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .header__search-wrapper {
    justify-content: space-between;
    margin-top: 2rem;
  }

  .breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  main.main {
    display: block;
  }

  .main__sidebar {
    display: none;
  }

  .main__right {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --app-padding: 0 2rem;
    --header-height: auto;
  }

  .header__right--lang {
    display: none;
  }

  .desktop {
    display: none !important;
  }
  .breadcrumb__right {
    display: flex;
    flex-direction: row;
  }

  .breadcrumb.mobile .dropdown-with-select {
    width: 4rem;
    height: 4rem;
    padding: 0px;
    margin: 0;
    display: grid;
    place-content: center;
  }

  .breadcrumb.mobile .dropdown-with-select span.material-icons-outlined {
    margin: 0;
  }

  .mobile .header--filter {
    border: 1px solid var(--clr-outlined);
    border-radius: 30px;
    position: relative;
    color: var(--clr-text-primary);
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: grid;
    place-content: center;
    margin-left: 1rem;
  }

  .mobile .header--filter span {
    margin-right: 0;
  }

  .mobile {
    display: flex !important;
  }

  .breadcrumb {
    padding: 1rem 2rem;
  }
  .header__search-wrapper {
    margin-top: 0;
    overflow-x: scroll;
  }

  .header__search {
    overflow: hidden;
    background: #fff;
    border-radius: 30px;
    height: auto;
    margin-top: 2rem;
    padding: 0 2rem;
  }

  li.header__search--item {
    min-width: max-content;
  }

  .header__right--menu img {
    display: none;
  }

  .header__right--menu .material-icons-outlined {
    margin: 0;
    color: var(--clr-text-primary);
    font-weight: 600;
    font-size: 3rem;
  }

  .header__right--menu {
    border-radius: 50%;
    width: auto;
    background: transparent;
    cursor: pointer;
    padding: 0;
  }

  .header__logo {
    max-width: 15rem;
  }

  .dropdown-options {
    min-width: 20rem;
    right: 0rem;
    top: 4rem;
    left: auto;
  }

  .info__top--right {
    display: none;
  }

  .content__body--img .material-icons-outlined {
    display: none;
  }

  .top__box {
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .content__body {
    padding: 1.5rem;
    grid-template-columns: 25% 75%;
  }

  .content__body--img {
    margin-right: 1rem;
  }
  .content__body--info p.subtitle {
    display: none;
  }

  .meta__boxes {
    width: calc(100% + 35%);
    position: relative;
    left: -35%;
  }

  .content__footer {
    padding: 1rem;
  }

  .conent__footer--left {
    font-size: var(--font-14);
  }

  .conent__footer--left .material-icons-outlined {
    margin-left: 0;
  }

  .conent__footer--left span {
    margin-left: 1rem;
  }

  .mobile.btn-blue-bg {
    width: 4rem;
    height: 4rem;
    padding: 0;
    background: transparent;
    color: var(--clr-text-primary);
    border: 1px solid var(--clr-border);
  }

  .mobile.btn-blue-bg span {
    margin-left: 0;
  }
  .breadcrumb.desktop {
    display: none !important;
  }
  .dropdown-options:before {
    display: none;
  }

  .info__top {
    margin-bottom: 1rem;
  }

  .title-icon {
    padding: 0.3rem 0;
  }

  .meta-box .material-icons-outlined {
    margin-right: 0.5rem;
  }

  .meta-box {
    font-size: 1.2rem;
  }

  .meta__boxes {
    margin: 2rem 0 1rem;
  }

  .meta__boxes:last-of-type {
    margin: 0;
  }
  .expanded p.subtitle {
    display: none;
  }

  .expanded h3.md-title {
    display: none;
  }

  .expanded button#close_schedule {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .expanded button#close_schedule span {
    margin: 0;
  }

  .expanded .arrow {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
  }

  .expanded .day {
    min-width: max-content;
    font-size: 1.4rem;
  }

  .content__footer--calendar {
    overflow: hidden;
  }

  .calendar-time {
    grid-template-columns: repeat(2, 1fr);
  }

  .content__footer--bottom p {
    display: none;
  }

  .content__footer--bottom {
    justify-content: center;
  }

  .top__left {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .day span {
    display: none;
  }
  a.full-schedule {
    font-size: 1.4rem;
  }
  a.full-schedule .material-icons-outlined {
    font-size: 1.4rem;
  }
}
