.case-item,
.case-item__content:after,
.case-item__content:before,
.case-item__description,
.case-item__title__overlay,
.case-nav-secondary,
.cases-bottom,
.cases-navigation-background,
.intro:after,
.intro__progressbar span,
.news-preview,
.news-preview figure:after {
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.25, .74, .22, .99)
}

.intro {
    z-index: 6;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.case-nav-secondary {
    left: 30px
}

.case-nav-secondary,
.news-preview {
    right: 30px
}

.news-preview {
    bottom: 30px
}

.cases-bottom {
    left: 30px;
    bottom: 30px
}

@media screen and (max-width:979px) and (max-height:415px) and (orientation:landscape) {
    .cases-bottom {
        left: 110px
    }
}

@media screen and (min-width:668px) and (min-height:416px) {
    .case-nav-secondary {
        left: 40px
    }
    .case-nav-secondary,
    .news-preview {
        right: 40px
    }
    .news-preview {
        bottom: 40px
    }
    .cases-bottom {
        left: 40px;
        bottom: 80px
    }
}

@media screen and (min-width:980px) {
    .cases-bottom {
        left: calc((100vw - 960px) / 2 + 190px)
    }
}

@media screen and (min-width:1400px) {
    .case-nav-secondary {
        left: 60px
    }
    .case-nav-secondary,
    .news-preview {
        right: 60px
    }
    .news-preview {
        bottom: 60px
    }
    .cases-bottom {
        left: calc((100vw - 960px) / 2);
        bottom: 110px
    }
}

.news-preview h2 {
    font-family: MaisonNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-rendering: geometricPrecision;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal
}

.news-preview .ui-light h2,
.ui-light .news-preview h2 {
    color: rgba(25, 26, 27, .6)
}

.case-item__description .ui-light span,
.ui-light .case-item__description span,
.ui-light .case-nav-secondary {
    color: #191a1b
}

.case-item__description .ui-light time,
.ui-light .case-item__description time {
    color: rgba(25, 26, 27, .6)
}

.news-preview .ui-dark h2,
.ui-dark .news-preview h2 {
    color: hsla(0, 0%, 100%, .5)
}

.case-item__description .ui-dark span,
.ui-dark .case-item__description span,
.ui-dark .case-nav-secondary {
    color: #fff
}

.case-item__description .ui-dark time,
.ui-dark .case-item__description time {
    color: hsla(0, 0%, 100%, .5)
}

.news-preview h2 {
    font-size: 1.4rem;
    line-height: 1.57143em
}

@media screen and (min-width:1400px) {
    .news-preview h2 {
        font-size: 1.6rem;
        line-height: 1.57143em
    }
}

.cases-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none
}

.cases-items {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 0;
    height: 100vh
}

.cases-items,
.cases-items__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.cases-items__wrapper {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.cases-items.ui-light {
    cursor: url(../images/cursor-light.png), auto;
}

.cases-items.ui-dark {
    cursor: url(../images/cursor-dark.png), auto;
}

.cases {
    counter-reset: case
}

.case-item {
    counter-increment: case;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    margin-right: 120px;
    margin-top: 100px
}

.case-item.is-active {
    opacity: 1
}

.case-item__content {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 200px
}

.case-item__title {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 30px 0 10px;
    max-width: calc(100vw - 60px)
}

.case-item__title__overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 30px 0 10px;
    background-position: -240px 50%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-property: opacity;
    opacity: 0
}

.case-item__title__overlay:before {
    content: attr(data-title)
}

@supports (-webkit-background-clip:text) {
    .case-item__title__overlay {
        display: block
    }
}

.is-ie .case-item__title__overlay {
    display: block;
    opacity: 0!important
}

.case-item__content:before {
    content: counter(case);
    left: -17px;
    top: 11px;
    color: #191a1b;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: #191a1b
}

.case-item__content:after,
.case-item__content:before {
    position: absolute;
    transition-property: opacity;
    opacity: 0
}

.case-item__content:after {
    content: "";
    left: -80px;
    top: 50%;
    width: 40px;
    margin-top: -47px;
    border-top: 1px solid
}

.case-item:first-child .case-item__content:after {
    display: none
}

.case-item__description {
    transition-property: opacity;
    opacity: 0;
    position: relative;
    margin-top: 1rem;
    width: 10px;
    white-space: nowrap
}

.case-item__description span {
    display: block;
    margin-bottom: 2px
}

.case-item__bottom {
    display: none
}

.ui-light .case-item__content:after {
    border-color: rgba(25, 26, 27, .16)
}

.ui-dark .case-item__content:after {
    border-color: hsla(0, 0%, 100%, .16)
}

@media screen and (max-width:979px) and (max-height:415px) and (orientation:landscape) {
    .case-item {
        margin-top: 36px
    }
    .case-item__content:before {
        left: -27px
    }
}

@media screen and (min-width:668px) and (min-height:416px) {
    .case-item__content:before {
        left: -27px;
        top: 0
    }
    .case-item__content:after {
        margin-top: -41px
    }
    .case-item__title {
        padding: 10px 0;
        max-width: calc(100vw - 80px)
    }
    .case-item__title__overlay {
        padding: 10px 0
    }
    .case-item__description {
        left: 4px;
        margin-top: 2rem
    }
}

@media screen and (min-width:980px) {
    .case-item__title,
    .case-item__title x:-moz-any-link {
        white-space: nowrap
    }
}

@media screen and (min-width:1400px) {
    .case-item__content:after {
        margin-top: -36px
    }
}

.case-item.is-active .case-item__description {
    opacity: 1
}

.case-item {
    opacity: 0;
    -webkit-transform: translateX(-25vw);
    transform: translateX(-25vw)
}

.case-item.is-active {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.case-item.is-active ~ .case-item {
    -webkit-transform: translateX(25vw);
    transform: translateX(25vw);
    pointer-events: none
}

.cases--navigation .case-item {
    opacity: 1
}

.cases--navigation .case-item__content:before {
    opacity: .3
}

.cases--navigation .case-item__content:after {
    opacity: 1
}

.cases--navigation .case-item__title {
    color: #e0e0e0
}

.cases--navigation .case-item.is-active .case-item__content:before,
.cases--navigation .case-item.is-active .case-item__title__overlay {
    opacity: 1
}

.cases--navigation .case-item,
.cases--navigation .case-item.is-active,
.cases--navigation .case-item.is-active ~ .case-item {
    transition-duration: .8s;
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.cases--navigation--opening .case-item,
.cases--navigation--opening .case-item.is-active .case-item__content:before,
.cases--navigation--opening .case-item.is-active .case-item__title,
.cases--navigation--opening .case-item.is-active .case-item__title__overlay,
.cases--navigation--opening .case-item__content:after,
.cases--navigation--opening .case-item__content:before {
    transition-delay: .4s
}

.cases-background {
    transition-property: opacity
}

.has-hover .cases-background {
    -webkit-transform: rotateX(0deg) rotateY(0deg) translateZ(-15vw) scale(1.4);
    transform: rotateX(0deg) rotateY(0deg) translateZ(-15vw) scale(1.4)
}

.cases-navigation-background {
    background: #fff;
    opacity: 0
}

.cases--navigation .cases-navigation-background {
    opacity: 1
}

.cases--navigation--opening .cases-navigation-background {
    transition-delay: .4s
}

.cases-bottom {
    transition-property: opacity, bottom;
    min-width: 180px;
    position: absolute;
    margin: -20px;
    padding: 20px
}

.cases--navigation .cases-bottom {
    pointer-events: none;
    opacity: 0
}

.case-nav-secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    line-height: 34px;
    height: 200px;
    margin-top: -113px;
    margin-right: -10px;
    padding-top: 35px;
    pointer-events: none
}

.case-nav-secondary span {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.case-nav-secondary a {
    pointer-events: auto;
    position: relative
}

.case-nav-secondary a:before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px
}

.case-nav-secondary .btn {
    margin-left: 10px
}

.case-nav-secondary__text {
    display: block;
    margin-top: 2px
}

.case-nav-secondary__line {
    position: absolute;
    overflow: hidden;
    top: 52px;
    right: 90px;
    left: calc((100vw - 700px) / 2)
}

.case-nav-secondary__line__inner {
    border-top: 1px solid #fff
}

.case-nav-secondary.ui-light .case-nav-secondary__line__inner,
.case-nav-secondary.ui-light:before {
    border-color: rgba(25, 26, 27, .24)
}

.case-nav-secondary.ui-dark .case-nav-secondary__line__inner,
.case-nav-secondary.ui-dark:before {
    border-color: hsla(0, 0%, 100%, .24)
}

@media screen and (max-width:479px) and (orientation:portrait) {
    .case-nav-secondary__line {
        left: 60px
    }
    .case-nav-secondary__line__inner {
        -webkit-transform: none!important;
        transform: none!important
    }
}

@media screen and (max-width:979px) and (max-height:415px) and (orientation:landscape) {
    .case-nav-secondary {
        margin-top: -81px
    }
    .case-nav-secondary__line {
        left: 110px
    }
}

@media screen and (min-width:668px) and (max-width:979px) and (min-height:416px) {
    .case-nav-secondary {
        margin-top: -135px
    }
    .case-nav-secondary__line {
        left: 70px
    }
    .case-nav-secondary__line__inner {
        -webkit-transform: none!important;
        transform: none!important
    }
}

@media screen and (min-width:668px) and (min-height:416px) {
    .case-nav-secondary .btn {
        margin-top: -4px
    }
}

@media screen and (min-width:980px) {
    .case-nav-secondary {
        margin-top: -43px
    }
    .case-nav-secondary:before {
        content: "";
        position: absolute;
        top: 52px;
        left: 70px;
        width: 80px;
        border-top: 1px solid #fff;
        width: calc((100vw - 580px) / 2 - 40px - 50px - 70px)
    }
    .case-nav-secondary__line {
        left: calc((100vw - 580px) / 2 + 10px)
    }
}

@media screen and (min-width:1400px) {
    .case-nav-secondary {
        margin-top: -37px
    }
    .case-nav-secondary:before {
        width: calc((100vw - 960px) / 2 - 40px - 60px - 70px)
    }
    .case-nav-secondary__line {
        left: calc((100vw - 960px) / 2)
    }
}

.cases--navigation .case-nav-secondary {
    pointer-events: none;
    opacity: 0
}

.news-preview {
    position: absolute;
    margin: 0 -20px -20px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.news-preview article {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
    padding: 20px
}

.news-preview h2,
.news-preview p {
    margin-top: .5em;
    margin-bottom: .5em
}

.news-preview h2:first-child,
.news-preview p:first-child {
    margin-top: 0
}

.news-preview h2:last-child,
.news-preview p:last-child {
    margin-bottom: 0
}

.news-preview div {
    max-width: 200px
}

.news-preview figure {
    position: relative;
    margin-left: 30px
}

.news-preview figure:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 4px;
    transition-property: opacity;
    opacity: 0
}

.news-preview img {
    display: block;
    height: 80px;
    border-radius: 4px
}

.news-preview .overlay {
    z-index: 1
}

.has-hover .news-preview:hover {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px)
}

.has-hover .news-preview:hover figure:after {
    opacity: .25
}

@media screen and (min-width:1400px) {
    .news-preview div {
        max-width: 260px
    }
    .news-preview img {
        height: 100px
    }
}

.cases--navigation .news-preview {
    pointer-events: none;
    opacity: 0
}

.intro {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    color: #3b3d3e;
    text-align: center;
    background: #191a1b
}

.intro p {
    font-family: CircularStd, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 9.8vw;
    line-height: .875em;
    letter-spacing: .003em;
    white-space: nowrap;
    margin: 0
}

.intro__progressbar {
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0
}

.intro__progressbar span {
    display: block;
    height: 5px;
    background: #fff;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition-duration: .8s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform
}

.intro__text {
    position: relative
}

.intro__text .line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 250vw
}

.intro__text .line-text {
    display: block;
    background: #090a0a url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1400px' height='1400px' viewBox='0 0 1400px 1400px'%3E%3Cdefs%3E%3CradialGradient id='textGradient'%3E%3Cstop offset='3.4%' stop-color='%23313436' /%3E%3Cstop offset='100%' stop-color='%23090a0a' /%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23textGradient)' width='1400px' height='1400px' /%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    color: #313436;
    position: relative;
    padding-bottom: 40px;
    margin-bottom: -40px;
    width: 100vw
}

.intro__text .line-text--short {
    width: 60vw
}

.intro__text .line-text + .line-text {
    margin-left: 50vw
}

.intro__text .line-text--short + .line-text--short {
    margin-left: 40vw
}

.no-js .intro {
    display: none
}

.intro:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #191a1b;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition-property: opacity;
    opacity: 0
}

.intro--appear:after {
    opacity: 1
}
